.about-page {
      padding: 20px;
      margin-bottom: 70px;
      
    }
    
    .about-btn {
      margin-top: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
    
    .about {
      font-family: sans-serif; 
      width: 100%; 
        
    }

    #about-me{
      color: navy;
      font-size: 40px;
      font-weight: 1000;
    }

    

    