.about-page {
      padding: 20px;
      height: 150vh;
    }
    
    .about-btn {
      margin-top: 15px;
      margin-left: 10px;
      cursor: pointer;
    }
    
    .about {
      font-family: "Biryani", sans-serif;
      font-weight: 900;
    }

    