#brandName {
      font-weight: bold;
      font-family: arial black;
      font-size: 1.8rem;
      color: white     
}
#my-picture{
      border-radius: 50%;
      margin-right: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
     
}
#component-item{
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      font-size: 17px;    
}

#cover-image{    
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: center;
} 
.body{
      background: gray;
}
#home-profile{
      padding: 40px;
      text-align: center;

}  
   
    
  
  






