#contact {
  background-image: url("./image/cover-image.png");
  background-position: center;
  height: auto;
}
.contact {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
}
#contact-heading{
  color:#ffd700
}
    