.footer {
      margin-top: auto;
      margin-bottom: auto;
      background-color: white;     
      width: auto;
      padding: 0 15px;
    }
    
    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    #text-muted, .text-center{
      font-size: 18px;
      font-weight: bold;
      color: rgb(228, 26, 26);
    }
    .footer.footer.py-3{
      background: teal
      
      
    }
    .footer-text{
      color:white
    }
    #footer-items{
      position: fixed;
        Width: 100%;
        bottom: 0;
    }
    